body {

    margin: 0;
    padding: 0;
    background-color: darkgrey;
}


.container {
    width: 1280px;
}

.photo {
    background-image: url(images/livello-1.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 745px;
    width: 1280px;
    position: absolute;


}

.home {
    /* Style for "Home" */
    width: 56px;
    height: 13px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;
    /* Text style for "H, ome" */
    letter-spacing: 2.4px;

    margin-left: 273px;
    position: relative;
    margin-top: 75px;

}

.photoapp {
    /* Style for "photoapp" */
    width: 109px;
    height: 13px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;

    text-transform: uppercase;
    /* Text style for "photoapp" */
    letter-spacing: 2.4px;
    margin-top: -11px;
    margin-left: 396px;
    position: relative;
}

.livello2 {
    /* Style for "Livello 2" */
    width: 53px;
    height: 55px;
    background-image: url(images/livello-2.png);
    position: relative;
    margin-left: 607px;
    margin-top: -40px;

}

.design {
    /* Style for "design" */
    width: 75px;
    height: 13px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 758px;
    margin-top: -25px;
    text-transform: uppercase;
    /* Text style for "design" */
    letter-spacing: 2.4px;
    position: relative;

}

.download {
    /* Style for "download" */
    width: 119px;
    height: 13px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;
    /* Text style for "d, ownload" */
    letter-spacing: 2.4px;
    margin-left: 912px;
    margin-top: -10px;
    position: relative;
}

.yourlife {
    /* Style for "your life" */
    width: 499px;
    height: 32px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    font-weight: 700;

    text-transform: uppercase;
    /* Text style for "your life" */
    letter-spacing: 5.4px;
    position: relative;
    margin-left: 391px;
    margin-top: 200px;
}

.printyour {
    /* Style for "print your" */
    width: 328px;
    height: 15px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    /* Text style for "p, rint yo" */
    letter-spacing: 2.4px;
    margin-left: 480px;
    margin-top: 37px;

}

.getstarted {
    /* Style for "Rettangolo" */
    width: 166px;
    height: 49px;
    border-radius: 3px;
    background-color: #16a085;
    margin-left: 555px;
    margin-top: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 4;
    letter-spacing: 1.8px;
    font-family: 'Varela Round', sans-serif;
}

.twitter {
    /* Style for "fa-twitter" */
    width: 23px;
    height: 20px;
    background-image: url(images/fa-twitter.png);
    margin-left: 589px;
    margin-top: 240px;
}

.flickr {
    /* Style for "fa-flickr" */
    width: 23px;
    height: 20px;
    background-image: url(images/fa-flickr.png);

    margin-left: 629px;
    margin-top: -20px;
}

.dribble {
    /* Style for "fa-dribbbl" */
    width: 20px;
    height: 21px;
    background-image: url(images/fa-dribbble.png);
    margin-left: 668px;
    margin-top: -20px;
}

.rect3 {
    height: 494px;
    background-color: #f5f6f7;
    width: 1280px;
    margin-left: 0px;
    position: absolute;
    margin-top: 747px
}

.text {
    /* Style for "Rappresent" */
    width: 376px;
    height: 35px;
    color: #16a085;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Rappresent" */
    letter-spacing: 2.7px;
    position: relative;
    margin-top: 113px;
    margin-left: 129px;
}

.textTwo {
    /* Style for "Lorem ipsu" */
    width: 428px;
    height: 107px;
    color: #373737;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    position: relative;
    font-weight: 300;
    letter-spacing: 1.8px;
    margin-top: 63px;
    margin-left: 129px;
}

.rectangle2 {
    /* Style for "Rettangolo" */
    width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color: #16a085;
    position: relative;
    margin-left: 128px;
    margin-top: 50px;
}

.getstarted2 {
    /* Style for "get starte" */
    width: 104px;
    height: 10px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    /* Text style for "get starte" */
    letter-spacing: 1.8px;
    position: relative;
    margin-left: 170px;
    margin-top: -35px;
}

.hand {
    /* Style for "Hand" */
    width: 637px;
    height: 661px;
    box-shadow: inset 0 0 114px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: url(images/hand.png);
    position: relative;
    margin-left: 540px;
    margin-top: -264px;
    overflow: hidden;

}

.rect4 {
    /* Style for "Rettangolo" */
    width: 1280px;
    height: 558px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 1236px;
    margin-left: -15px;

}

.phone2 {

    background-image: url(images/shape.png);
    /* Style for "Flat iPhon" */
    width: 312px;
    height: 700px;
    margin-top: 157px;
    margin-left: 120px;
    overflow: hidden;



}

.words {
    /* Style for "DESIGN" */
    width: 83px;
    height: 14px;
    color: #16a085;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "DESIGN" */
    letter-spacing: 2.8px;

    margin-left: 767px;
    margin-top: -710px;
}

.text4 {
    /* Style for "Lorem ipsu" */
    width: 459px;
    height: 99px;
    color: #373737;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;

    line-height: 22px;
    /* Text style for "L, orem ip" */
    font-weight: 300;
    letter-spacing: 2.1px;


    position: relative;
    margin-top: 70px;
    margin-left: 769px;

}

.rect5 {
    /* Style for "Rettangolo" */
    width: 192px;
    height: 51px;
    background-color: #16a085;
    position: relative;
    margin-left: 766px;
    margin-top: 60px;
}

.numbers {
    width: 43px;
    height: 12px;
    color: #373737;

    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "01/05" */
    letter-spacing: 1.8px;
    position: relative;
    margin-left: 767px;
    margin-top: 40px;
    font-family: 'Varela Round', sans-serif;
}



.rectangle6 {
    /* Style for "Rettangolo" */
    width: 1280px;
    height: 483px;
    background-color: #f5f6f7;
    position: absolute;
    margin-left: -30px;
    margin-top: 1794px;
}

.iphone {
    /* Style for "iPhone 5S" */
    width: 355px;
    height: 424px;
    position: relative;
    margin-top: -700px;
    margin-left: 827px;
    background-image: url(images/iphone.png);


}
